.containerr{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    width: 80%;
}

.containerr .spinBtn{
    position: absolute;
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    color: #333;
    border: 4px solid rgba(0,0,0,0.75);
    cursor: pointer;
    user-select: none;
}

.containerr .spinBtn::before{
    content: '';
    position: absolute;
    top: -28px;
    width: 20px;
    height: 30px;
    background: #fff;
    clip-path: polygon(50% 0,15% 100%,85% 100%);
}

.containerr .wheel{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 5px #333,
    0 0 0 15px #fff,
    0 0 0 18px #111;
}

/* 360 / 8 = 45deg */
.containerr .wheel .number span{
    position: relative;
    transform: rotate(45deg);
    font-size: 0.8em;
    font-weight: 700;
    color: #fff;
    /*text-shadow: 3px 5px 2px rgba(0,0,0,0.15);*/
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    left: 15px;
}