@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Josefin Sans', 'Roboto Mono', sans-serif;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* TABLE */

.table-styles {
  min-width: 650px;
}

.table-styles .MuiTableCell-root {
  border-left: 0px solid rgba(224, 224, 224, 1);
  border-right: 0px solid rgba(224, 224, 224, 1);
  border-top: 0px solid rgba(224, 224, 224, 1);
  border-bottom: 0.1px solid rgba(224, 224, 224, 1);
}

.table-styles .MuiTypography-colorInherit {
  color: white;
}

.table-styles .MuiInputBase-input {
  color: white
}

.table-styles .MuiSelect-icon {
  color: white
}

.table-styles .MuiSvgIcon-root {
  color: white
}

.css-pdct74-MuiTablePagination-selectLabel {
  color: white;
}

.css-levciy-MuiTablePagination-displayedRows {
  color: white;
}

.css-1ex1afd-MuiTableCell-root {
  line-height: 1.43;
  border-bottom: 1px solid #111827 !important;
  text-align: left;
  padding: 14px !important;
}

/* MENU - HORIZONTAL */

.tab-list-h {
  min-width: 320px;
  background-color: #1F2937;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-between;
  padding: 5px
}

.tab-option-h {
  color: white;
  cursor: pointer;
  font-size: 1rem;
  background-color: transparent;
  width: 100%;
  padding: 15px 0px;
  margin: 6px 6px;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.tab-option-h:hover {
  background-color: rgb(107 114 128);
  color: rgb(94 234 212);
}

.Mui-selected.tab-option-h {
  background-color: #111827;
  color: rgb(94 234 212);
  font-weight: bold;
}

.tab-panel-h {
  width: 100%;
}

/* MENU HORIZONTAL - SUBMENU */

.tab-list-h2 {
  min-width: 320px;
  background-color: rgb(49 46 129);
  border-radius: 8px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 5px;
}

.tab-option-h2 {
  color: white;
  cursor: pointer;
  font-size: 1rem;
  background-color: transparent;
  width: 100%;
  padding: 15px 0px;
  margin: 6px 6px;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.tab-option-h2:hover {
  background-color: rgb(79 70 229);
  color: rgb(94 234 212);
}

.Mui-selected.tab-option-h2 {
  background-color: #111827;
  color: rgb(94 234 212);
  font-weight: bold;
}

/* MENU - VERTICAL */

.tab-list-v {
  background-color: #1F2937;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px
}

.tab-option-v {
  color: white;
  cursor: pointer;
  font-size: 1rem;
  width: 75%;
  padding: 15px 15px;
  margin: 8px;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.tab-option-v:hover {
  background-color: rgb(55 65 81);
  color: rgb(94 234 212);
}

.Mui-selected.tab-option-v {
  background-color: #111827;
  color: rgb(94 234 212);
  font-weight: bold;
}

.tab-panel-v {
  width: 100%;
}

/* .hCustomContainer {
  height: 548px;
} */

.hTopicContainer {
  height: 520px;
}

hr {
  border: 1px solid rgb(104, 103, 103);
}


div:where(.swal2-container) .swal2-html-container{
  font-size: 1.5rem !important;
}